*{
  box-sizing: border-box;
}
body {
  background-color: wheat;
}
link{
  color: #d5d5d5;
}
.navbar{
  justify-content: center;
  font-size: 16px;
  height: 80px;
  background-color: rgb(241, 241, 241);
  color: #f5deb3;
}
.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  column-gap: 10px;
  row-gap: 20px;
}
.image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
.image1 .image2 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.image3 {
  grid-row-start: 1;
  grid-row-end: 2;
}
.image4 {
  height: 500px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.image5 {
  object-fit: cover;
  height: 240px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.image6 {
  object-fit: cover;
  height: 240px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.image7 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}
.image8 {
  height: 240px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
.image9 {
  height: 240px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
/* 
.image:hover{
    transform: scale(1.2);
    
} */

@media (max-width: 760px) and (min-width: 300px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (max-width: 1023px) and (min-width: 761px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .image {
    width: 100%;
    height: 500px;
    grid-column: span 1;
    grid-row: span 1;
  }
  @media (min-width: 1440px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
    .image {
      width: 100%;
      height: 500px;
      grid-column: span 1;
      grid-row: span 1;
    }
  }
}
